p {
    width: 500px;
    line-height: 25px;
    font-family: Arial;
    text-indent: 40px;
    text-align: justify;
    font-size: 16px;
}

h1 {
    color: rgb(52, 9, 130);
    text-align: center;
    width: 500px;
    font-size: 40px;
}

h2 {
    color: rgb(7, 143, 36);
    width: 500px;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
}

ul {
    width: 400px;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
}